 /* Custom Styles */
 body {
    background: #f5f5f5;
    font-family: 'Figtree', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0; /* Remove border radius for full page */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.red-section {
    background-image: url('/jolli.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.red-section h6 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.red-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.green-section {
    background-color: #388E3C; /* Green color */
    padding: 20px;
    text-align: center;
    color: white;
}

.green-section img {
    width: 60px;
    margin-bottom: 10px;
}

.green-section h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.start-btn {
    background-color: #D32F2F; /* Red color */
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: #c62828;
}

.footer {
    background-color: #388E3C; /* Green color */
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
}